@font-face {
  font-family: 'helvetica-neue-thin';
  src: url('fonts/helvetica-neue-thin.otf');
}

@font-face {
  font-family: 'helvetica-neue-ultra-thin2';
  src: url('fonts/helvetica-neue-ultra-thin2.otf');
}

@font-face {
  font-family: 'helvetica-light';
  src: url('fonts/helvetica-light.ttf');
}

body {
  font-family: helvetica-neue-ultra-thin2, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  font-size: 37px;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}


.navtab:hover {
    color: rgb(255,87,0) !important;
}

.link:hover {
  color: #fff;
  font-weight: bold;
}

.link{
  color: #fff;
  text-decoration: none !important;
}

/* --- all modals --- */

.modal {
  top: 15%;
}

input {
  width: 250px;
  font-weight: bold;
  margin: 5px;
}

span.modal-text {
  font-size: 14px;
  font-weight: bold;
}

/* --- start logo --- */

h4.logo {
  margin: 12px 0 -6px 0;
}

span.me {
  color: rgb(255,87,0);
  font-weight: bold;
}

a.logo-link {
  color: #000;
  text-decoration: none !important;
}

/* -- end logo --- */
/* --- start nav --- */

.navbar-default {
  background-color: #fff;
  height: 40px;
}

.nav {
  font-family: helvetica-neue-thin, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  float: none;
  background-color: #fff;
}

li.tabs {
  padding-left: 10px;
  padding-right: 10px;
}

a.navtab {
  font-size: 15px;
  color: rgb(162, 174, 191) !important;
  margin: -5px 0 -5px 0;
  position: absolute;
}

.navbar-brand {
  margin: -5px 0 -5px 0;
  position: absolute;
}

.navbar-brand {
  font-size: 18px;
}

#top-nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

/* --- end navbar --- */
/* ---------- START HOME PAGE ---------- */
/* --- start 'Get 15' modal --- */

.get-15-modal {
  width: 420px;
  height: 420px;
  background-color: #fff;
  border-radius: 50%;
  border: 15px solid rgb(255,87,0);
  padding: 70px 0 70px 0;
}

h2.get-15-header {
  margin: 0;
}

h3.get-15-text {
  margin: 20px;
}

.get-it-button {
  color: #fff;
  width: 70px;
  height:70px;
  border-radius: 50%;
  background-color: rgb(255, 87, 0);
  border: 0;
  margin: 10px;
}

/* --- end 'Get 15' modal --- */
/* --- start 'Log In' modal --- */

.log-in-modal {
  width: 420px;
  height: 420px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 15px solid rgb(255,87,0);
  padding: 50px 0 50px 0;
}

.log-in-logo {
  font-size: 30px;
}

.check-box {
  width: 10px;
  color: rgb(255,87,0) !important;
}

.log-in-button {
  color: #fff;
  width: 70px;
  height:70px;
  border-radius: 50%;
  background-color: rgb(255, 87, 0);
  border: 0;
  margin: 5px;
}

a.sign-up {
  color: rgb(255,87,0) !important;
}

/* --- end 'Log In' modal --- */
/* --- start 'Reset Password' modal --- */

.forgot-p-modal {
  width: 460px;
  height: 460px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 15px solid rgb(255,87,0);
  padding: 60px 0 60px 0;
}

h3.forgot-p-header {
  font-weight: bold;
}

.security {
  width: 190px;
  height: auto;
  border: 1px;
  margin: 10px;
}

.forgot-p-button {
  color: #fff;
  width: 65px;
  height:65px;
  border-radius: 50%;
  background-color: rgb(255, 87, 0);
  padding: 2px;
  border: 0;
  margin: 15px 5px 5px 5px;
}

/* --- end 'Reset Password' modal --- */
/* --- start 'Sign Up' --- */

.sign-up-modal {
  width: 570px;
  height: 570px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 15px solid rgb(255,87,0);
  padding: 15px 0 20px 0;
}

.sign-up-button {
  color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgb(255, 87, 0);
  padding: 0;
  border: 0;
  margin: 10px 0 0 0;
}

/* --- end 'Sign Up' --- */

/* --- start THANK YOU --- */

.thank-you-modal {
  width: 460px;
  height: 460px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 15px solid rgb(255,87,0);
  padding: 80px 0 80px 0;
}

.close-button {
  color: #fff;
  width: 65px;
  height:65px;
  border-radius: 50%;
  background-color: rgb(255, 87, 0);
  padding: 2px;
  border: 0;
  margin: 15px 5px 5px 5px;
}

/* --- end THANK YOU --- */
/* --- start carousel --- */

.carousel-inner,
.item {
  width: 100%;
  max-height: 710px;
}

.carousel-caption {
  bottom: 23%;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

h1.carousel-title {
  color: #fff;
}

p.carousel-text {
  font-size: 24px;
}

.carousel-button {
  font-size: 37px;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fff;
  margin: 70px 0;
  padding: 10px 20px 10px 20px;
}

@media (max-width: 1000px) {
  .carousel-caption {
    bottom: 16%;
  }
}

@media (max-width: 850px) {
  .carousel-caption {
    bottom: 10%;
  }
}

@media (max-width: 750px) {
  .carousel-caption {
    bottom: 9%;
  }
}

@media (max-width: 720px) {
  .carousel-caption {
    bottom: 10%;
  }
  h1.carousel-title {
    font-size: 45px;
  }
  .carousel-button {
    font-size: 27px;
    margin: 54px 0;
    padding: 6px 15px 6px 15px;
  }
  p.carousel-text {
    font-size: 22px;
  }
}

@media (max-width: 640px) {
  .carousel-caption {
    bottom: 9%;
  }
  h1.carousel-title {
    font-size: 40px;
  }
   .carousel-button {
    font-size: 20px;
    margin: 40px 0;
    padding: 6px 12px 6px 12px;
  }
  p.carousel-text {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .carousel-caption {
    bottom: 15%;
  }
  h1.carousel-title {
    font-size: 35px;
  }
   .carousel-button {
    font-size: 18px;
    margin: 25px 0;
    padding: 5px 10px 5px 10px;
  }
  p.carousel-text {
    font-size: 18px;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .carousel-caption {
    bottom: 10%;
  }
  h1.carousel-title {
    font-size: 35px;
  }
   .carousel-button {
    font-size: 18px;
    margin: 10px 0;
    padding: 5px 10px 5px 10px;
  }
  p.carousel-text {
    font-size: 16px;
    margin: 0;
  }
}

/* --- end carousel --- */
/* --- start "How It Works" */


.hiw {
  width: 95%;
  margin: 80px 0 80px 0;
}

h1.hiw {
  margin: 0 0 60px 0;
}

.hiw-icon {
  width:300px;
  height: 300px;
  border-radius: 50%;
  margin: 15px 15px 5px 15px;
}

.hiw-button {
  color: #fff;
  font-size: 25px;
  background-color: rgb(255,87,0);
  border-radius: 50%;
  border: 0;
  width: 100px;
  height: 100px;
}

/* --- end "How It Works" --- */
/* ---start "Join Us" --- */

.join {
  background-image: url('images/join.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}

h1.join-title {
  color: #fff;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

span.join-coffee {
  font-weight: normal;
}

.join-text {
  font-size: 24px;
  color: #fff;
  opacity: 1;
  margin: 100px 0 0 0;
  padding: 10%;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

.join-button {
  font-size: 37px;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #fff;
  margin: 20px 0;
  padding: 10px 30px 10px 30px;
}

/* --- end "Join Us" --- */
/* --- start Instagram --- */

.instagram {
  width: 95%;
  margin: 70px 0 80px 0;
}

h1.instagram {
  text-align: left;
  margin: 0 0 35px 0;
  color: #000;
}

p.instagram {
  color: #000;
}

.ig-pic {
  width: 200px;
  height: 200px;
}

.card {
  margin: 20px 0;
}

.image {
  width: 200px;
  height: 200px;
}

.ig-text {
  font-size: 24px;
}

.ig-user-button {
  background-color: transparent;
  border: 0;
}

.ig-user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  margin: 10px;
}

.ig-button {
  color: #fff;
  background-color: rgb(255,87,0);
  border-radius: 50%;
  border: 0;
  width: 118px;
  height: 118px;
  margin: 20px 0 0 0;
}

.ig-icon {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

/* --- end Instagram --- */
/* --- start footer --- */

.footer,
.footer-create {
  height: 330px;
  background-color: rgb(255,87,0);
  color: #fff;
  width: 100%;
}

.footer-icons {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #fff;
  padding: 5px;
  margin: 5px;
}

/* --- end footer --- */
/* ---------- END HOME PAGE ---------- */
/* ---------- START CREATE YOUR COFFEE PAGE ---------- */

.step-1-parallax,
.step-1,
.step-2-light,
.step-2-medium,
.step-2-dark,
.step-3,
.step-3-parallax,
.step-4,
.step-4-parallax,
.step-5,
.step-6,
.footer-create {
  display: none;
}

h1.orange {
  color: rgb(255,87,0);
}

h1.do-this {
  color: #fff;
  margin: 40px 0 0 0;
}

span.description {
  font-size: 16px;
}

h3.bold {
  font-weight: bold;
}

button.start {
  color: #fff;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 225px 0 0 0;
}

.dot {
  background-color: #fff;
  border-radius: 50%;
  border: 0;
  width: 4px;
  height: 4px;
  margin: 20px;
}

span.one {
  font-size: 70px;
  color: #fff;
  background-color: rgb(255,87,0);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 0;
  padding: 20px 30px;
}

button.roast1 {
  background: url('images/lightroast.jpg') no-repeat center center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border: 5px dashed rgb(255,87,0);
  border-radius: 50%;
  margin: 40px 0 0 0;
}

button.roast2 {
  background: url('images/mediumroast.jpg') no-repeat center center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border: 5px dashed rgb(255,87,0);
  border-radius: 50%;
  margin: 40px 0 0 0;
}

button.roast3 {
  background: url('images/darkroast.jpg') no-repeat center center;
  background-color: #fff;
  width: 250px;
  height: 250px;
  border: 5px dashed rgb(255,87,0);
  border-radius: 50%;
  margin: 40px 0 0 0;
}

#light-button,
#medium-button,
#dark-button {
  background-color: transparent;
  border: 0;
  margin: 0;
}

.light-info,
.medium-info,
.dark-info {
  display: none
}

span.two {
  font-size: 70px;
  color: #fff;
  background-color: rgb(255,87,0);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 0;
  padding: 20px 30px;
}

.step2-coffee {
  margin: 40px 0;
}

.step2-images {
  width: 200px;
  height:200px;
  border-radius: 50%;
  border: 0;
  margin: 0;
}

.step-3 {
  width: 100%;
}

span.three {
  font-size: 70px;
  color: #fff;
  background-color: rgb(255,87,0);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 0;
  padding: 20px 30px;
  margin: 20px 0;
}

.step3-images {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0;
  margin: 30px 10px 30px 30px;
}

span.trans {
  color: transparent !important;
  background-color: transparent !important;
}

.step-3-icon {
  margin: 10px;
}

.white-space {
  height: 400px;
}

.step-6-size {
  margin: 120px 100px 0 100px;
  color: rgb(255,87,0);
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid rgb(255,87,0);
}

.step-sampler-button {
  width: 120px;
  height: 120px;
}

.step-small-button {
  width: 140px;
  height: 140px;
}

.step-medium-button {
  width: 160px;
  height: 160px;
}

.step-large-button {
  width: 180px;
  height: 180px;
}

.add-to-cart,
.make-another {
  width: 200px;
  height: 50px;
  background-color: #fff;
  color: rgb(255,87,0) !important;
  border-radius: 15px;
  border: 1px solid rgb(255,87,0);
  text-decoration: none !important;
  margin: 200px 100px;
}

.make-another-link {
  text-decoration: none !important;
  color: rgb(255,87,0) !important;
}


/* ---------- END CREATE YOUR COFFEE PAGE ---------- */
/* ---------- START DISCOVER PAGE ---------- */

.discover-cover {
  position: relative;
  overflow: hidden;
  height: 225px;
  width: 100%;
}

.discover-cover h1 {
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 1;
  margin: 5% 0 5% 0;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

img.discover-cover-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

/* ---------- END DISCOVER PAGE ---------- */
/* ---------- START PRODUCTS PAGE ---------- */
/* ---------- START ADD BUTTON MODAL ---------- */

.add-button-modal {
  width: 550px;
  height: 550px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 15px solid rgb(255,87,0);
  padding: 90px 16px 30px 16px;
}

.sampler-button,
.small-button,
.medium-button,
.large-button {
  color: rgb(255,87,0);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid rgb(255,87,0);
}

.sampler-button {
  width: 80px;
  height: 80px;
}

.small-button {
  width: 100px;
  height: 100px;
}

.medium-button {
  width: 120px;
  height: 120px;
}

.large-button {
  width: 140px;
  height: 140px;
}

span.product-size {
  font-size: 12px;
}

span.sampler-text {
  font-size: 18px;
}

/* ---------- END ADD BUTTON MODAL ---------- */

.products-cover {
  position: relative;
  overflow: hidden;
  height: 225px;
  width: 100%;
  margin: 0;
}

.products-cover h1 {
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 1;
  margin: 2.5% 0 0 0;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

img.products-cover-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.products-page {
  width: 90%;
  margin: 30px 0 30px 0;
}

.products-button {
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #fff;
  position: relative;
  z-index: 2;
  opacity: 1;
  margin: 15px 20px 0 20px;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

button.coffee {
  padding: 10px 33px;
}

@media (max-width: 800px) {
  .products-cover {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .products-cover {
    height: 170px;
  }
}

@media (max-width: 600px) {
  .products-cover {
    height: 150px;
  }
}

@media (max-width: 510px) {
  .products-cover {
    height: 130px;
  }
}

@media (max-width: 415px) {
  .products-cover {
    height: 100px;
  }
}

@media (max-width: 566px) {
  .products-cover h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .products-button {
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 430px) {
  .products-cover h1 {
    margin: 0.5% 0 0 0;
  }
}

.coffee-summary {
  width: 60%;
  margin: 0;
}

.products-coffee {
  margin: 45px 0 45px 0;
}

.products-images {
  width: 250px;
  height:250px;
  border-radius: 50%;
  border: 0;
}

span.location {
  color: rgb(255,87,0);
}

.hashtag {
  color: rgb(255,87,0);
}

.bottom-sentence {
  width: 60%;
  margin: 40px 0 0 0;
}

a.create-link {
  color: rgb(255,87,0) !important;
}

/* --- start info toggle --- */

h2.products-title {
  margin: 20px 0 0 0;
}

#ey-button,
#crt-button,
#mha-button,
#bfc-button,
#nmm-button,
#rdk-button,
#tm-button,
#byc-button,
#essm-button,
#glv-button,
#es-button,
#bb-button,
#mc-button,
#co-button,
#crtu-button,
#ek-button,
#hsv-button,
#uk-button,
#rg-button,
#bba-button,
#cs-button,
#hnh-button,
#dbs-button,
#lbs-button,
#rh-button,
#sc-button {
  background: transparent;
  border: 0;
}

.ey-info,
.crt-info,
.mha-info,
.bfc-info,
.nmm-info,
.rdk-info,
.tm-info,
.byc-info,
.essm-info,
.glv-info,
.es-info,
.bb-info,
.mc-info,
.co-info,
.crtu-info,
.ek-info,
.hsv-info,
.uk-info,
.rg-info,
.bba-info,
.cs-info,
.hnh-info,
.dbs-info,
.lbs-info,
.rh-info,
.sc-info {
  display: none;
}

/* --- end info toggle --- */
/* --------- START SWEETENER PAGE ---------- */

.open {
  margin: 0;
  padding: 0;
}

button.add-button {
  color: #fff;
  font-size: 25px;
  background-color: rgb(255,87,0);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 0;
}

/* --------- END SWEETENER PAGE ---------- */
/* ---------- END PRODUCTS PAGE ---------- */
/* ---------- START ABOUT US PAGE ---------- */

.about-us-cover {
  position: relative;
  overflow: hidden;
  height: 225px;
  width: 100%;
}

.about-us-cover h1 {
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 1;
  margin: 5% 0 5% 0;
  text-shadow: 1px 1px 1px #474747,
               5px 5px 7px #606060;
}

img.about-us-cover-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

/* ---------- END ABOUT US PAGE ---------- */

